.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 50px;
}

.image {
  width: 100px;
}

.tableau {
  display: flex;
  flex-direction: column;
}

.titles {
  position: relative;
  bottom: 20px;
}

.picture{
position: relative;
right: 30px
}

.name{
position: relative;
right: 60px
}

.popularity{
  position: relative;
  right: 30px
}
